body {
	font-size: 18px;
	font-family: sans-serif;
	box-sizing: border-box;
}

h2 {
	text-align: center;
}	

h3 {
	margin-bottom: 0;
}

li {
	font-size: 18px;
	list-style: none;
	margin-top: 5px;
}

.wrapper {
	width: 1440px;
	margin: 0 auto;
}

.full-container {
	width: 100%;
	background: rgba(128, 128, 128, .31);
	box-shadow: 0px 5px 75px rgb(0 0 1 / 37%);
}

a {
	text-decoration: none;
	color: black;
	transition: color .3s linear;
}

a:hover, .contacts-footer li a:hover {
	color: #2796fe;
	transition: color .3s linear;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-contacts {
	font-size: 36px;
	color: #2796fe;
}

img {
	border-radius: 10px;
}
		
.skills-list {
	display: flex;
	justify-content: space-around;
}

.skills-list li {
	font-size: 20px;
	margin-top: 10px;	
}

.skills-list li:hover {
	background: linear-gradient(transparent 20px, #2796fe 3px);
}

.portfolio {
	width: 50%;
	padding: 20px 0;
	margin: 0 auto;
}

.portfolio li {
	text-align: center;
}

.portfolio li a {
	margin: 0 30px;
	font-size: 20px;
}

span {
	display: inline-block;
	margin-top: 10px;
}

.bg {
	background: rgba(11, 12, 113, .72);
	box-shadow: 0px 0px 100px rgb(0 0 1 / 65%);
}

footer {
	text-align: right;
}

.contacts-footer {
	padding: 20px 0;
}

.contacts-footer li {
	font-size: 20px;
	color: white;
}

.contacts-footer li a {
	color: white;
}

		